/**********************************************************************/
/*setting*/
/**********************************************************************/

/*setting fonts*/
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
/*Weights: 700*/

/*setting colors*/
$Strongcyan: hsl(172, 67%, 45%);
$Verydarkcyan: hsl(183, 100%, 15%);
$Darkgrayishcyan: hsl(186, 14%, 43%);
$Grayishcyan: hsl(184, 14%, 56%);
$Lightgrayishcyan: hsl(185, 41%, 84%);
$Verylightgrayishcyan: hsl(180, 26%, 95%);
$White: hsl(0, 0%, 100%);

/*setting page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
  font-family: "Space Mono", sans-serif;
}

/*setting body*/
body {
  font-size: 24px;
  background-color: $Lightgrayishcyan;
  text-align: center;
  color: $Grayishcyan;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1rem;
}

input#bill,
input#custom,
input#peoples {
  background-color: $Verylightgrayishcyan;
  color: $Verydarkcyan;
  width: 100%;
  height: 48px;
  font-size: 1.3rem;
  text-align: right;
  border-radius: 5px;
  border: none;

  &:focus {
    border: 1.5px solid $Strongcyan;
  }

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/*Mixin*/
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*setting link color (footer)*/
a,
a:visited {
  color: rgb(7, 7, 227);
}
