/**********************************************************************/
/*Main*/
/**********************************************************************/

main {
  @include center;
  min-height: 100vh;

  img {
    margin-bottom: 88px;
  }

  .card {
    width: 920px;
    height: 482px;
    border-radius: 20px;
    background-color: $White;
    box-shadow: 0px 15px 10px 0px hsla(249, 10%, 26%, 0.1);
    padding: 33px;
    text-align: left;

    .grid01 {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 416px;

      .container-left {
        @include center;

        input#bill {
          padding-right: 20px;
          margin: 13px 0 45px 0;
          background-image: url(..//..//images/icon-dollar.svg);
          background-repeat: no-repeat;
          background-position: left 20px center;
        }

        ul {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          column-gap: 14px;
          row-gap: 16px;
          margin: 20px 0 45px 0;

          li {
            @include center;
            cursor: pointer;
            background: $Verydarkcyan;
            color: $White;
            width: 117px;
            height: 48px;
            border-radius: 5px;

            &:hover {
              color: $Verydarkcyan;
              background: $Strongcyan;
            }
          }

          .btnclicked {
            color: $Verydarkcyan;
            background: $Strongcyan;
          }

          input#custom {
            @include center;
            text-align: center;
          }
        }

        span#choosenumber {
          font-size: 0.9rem;
          margin-left: 80px;
          color: rgb(209, 14, 14);
        }
        input#peoples {
          padding-right: 20px;
          margin-top: 10px;
          background-image: url(..//..//images/icon-person.svg);
          background-repeat: no-repeat;
          background-position: left 20px center;
        }
      }
      .container-right {
        @include center;
        flex-direction: column;
        color: black;
        padding: 40px;
        background: $Verydarkcyan;
        border-radius: 13px;

        .flex1 {
          display: flex;
          align-items: center;
          gap: 98px;
          margin-bottom: 60px;

          .amount {
            display: flex;
            flex-direction: column;

            h4 {
              color: $White;
            }

            p {
              font-size: 0.9rem;
              color: $Grayishcyan;
            }
          }
          span#amountTip {
            font-size: 2.5rem;
            color: $Strongcyan;
          }
        }
        .flex2 {
          display: flex;
          align-items: center;
          gap: 125px;
          margin-bottom: 104px;

          .amountT {
            display: flex;
            flex-direction: column;

            h5 {
              color: $White;
            }

            p {
              font-size: 0.9rem;
              color: $Grayishcyan;
            }
          }
          span#amountTotal {
            font-size: 2.5rem;
            color: $Strongcyan;
          }
        }
        button#reset {
          background-color: rgb(7, 127, 133);
          color: $Verydarkcyan;
          width: 100%;
          height: 48px;
          font-size: 1.3rem;
          text-transform: uppercase;
          border-radius: 5px;
          border: none;
          cursor: pointer;

          &:hover {
            background: $Strongcyan;
          }
        }
      }
    }
  }
}
